[Desktop Entry]
Name=OneAnime
Comment=Watch and manage anime collections
Exec=oneanime
Icon=com.zqigolden.oneanime
Terminal=false
Type=Application
Categories=AudioVideo;Player;Video;
StartupWMClass=oneanime